@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
    font-family: 'Open Sans', sans-serif;
    /*    background-color: #e8e7e2;*/
    background-color: black;
    /*        background-color: #f9f9fb;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    font-family: 'Dorsa', sans-serif;
}


/* Override link color in bootstrap*/

a {
    color: black;
    text-decoration: none;
}


/* Getting rid of social icon link underline*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* Page buttons */

.pager li>a,
.pager li>span {
    font-size: 40px;
    color: #fff;
    display: inline-block;
    padding: 5px 14px;
    background-color: #fb3468;
    border: 0px solid #ddd;
    border-radius: 0px;
    transition: all 0.1s ease-in-out;
}

.pager li>a:hover,
.pager li>span:hover {
    font-size: 40px;
    color: #1f2532;
    display: inline-block;
    padding: 5px 14px;
    background-color: #e9e9e9;
    border: 0px solid #ddd;
    border-radius: 0px;
}


/* Search Bar*/

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    margin-right: -4px;
    margin-left: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #353A46;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-search {
    color: #353A46;
    background-color: none;
    border-color: transparent;
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
}

.btn-search:hover {
    color: #fff;
    border-color: transparent;
}


/* Main page text */

body {
    /*  width: 100%;*/
    /*  height: 100%;*/
    /*  position: relative;*/
    background-color: #1f2532;
}

.visible {
    float: right;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
}

.content {
    z-index: 100;
    width: 215px;
    font-size: 36px;
    line-height: 40px;
    font-family: 'Muli';
    color: #ecf0f1;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -118px;
}


/*========= Games Page Flashing Text ==========*/

.content #games:before {
    content: '[';
    position: absolute;
    margin-top: -5px;
    left: 10px;
    line-height: 40px;
}

.content #games:after {
    content: ']';
    position: absolute;
    margin-top: -5px;
    right: -20px;
    line-height: 40px;
}

.content #games:after,
.content #games:before {
    color: #4fe7c9;
    font-size: 60px;
    animation: 4s linear 0s normal none infinite opacity;
    -webkit-animation: 4s ease-out 0s normal none infinite opacity;
    -moz-animation: 4s ease-out 0s normal none infinite opacity;
    -o-animation: 4s ease-out 0s normal none infinite opacity;
}

.content #games {
    margin-left: 20px;
}


/*============ Projects Page Flashing Text ===============*/

.content #projects:before {
    content: '[';
    position: absolute;
    margin-top: -5px;
    left: -30px;
    line-height: 40px;
}

.content #projects:after {
    content: ']';
    position: absolute;
    margin-top: -5px;
    right: -20px;
    line-height: 40px;
}

.content #projects:after,
.content #projects:before {
    color: #4fe7c9;
    font-size: 60px;
    animation: 4s linear 0s normal none infinite opacity;
    -webkit-animation: 4s ease-out 0s normal none infinite opacity;
    -moz-animation: 4s ease-out 0s normal none infinite opacity;
    -o-animation: 4s ease-out 0s normal none infinite opacity;
}

.content #projects {
    margin-left: -20px;
}


/*========= Art Works Page Flashing Text ===========*/

.content #artworks:before {
    content: '[';
    position: absolute;
    margin-top: -5px;
    left: -10px;
    line-height: 40px;
}

.content #artworks:after {
    content: ']';
    position: absolute;
    margin-top: -5px;
    right: -30px;
    line-height: 40px;
}

.content #artworks:after,
.content #artworks:before {
    color: #4fe7c9;
    font-size: 60px;
    animation: 4s linear 0s normal none infinite opacity;
    -webkit-animation: 4s ease-out 0s normal none infinite opacity;
    -moz-animation: 4s ease-out 0s normal none infinite opacity;
    -o-animation: 4s ease-out 0s normal none infinite opacity;
}

.content #artworks {
    margin-left: 0px;
}


/*=======================*/

.content p {
    display: inline;
    float: left;
    margin-top: -0px;
}

.content ul {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
    -webkit-animation: 6s linear 0s normal none infinite change;
    -moz-animation: 6s linear 0s normal none infinite change;
    -o-animation: 6s linear 0s normal none infinite change;
}

.content ul li {
    line-height: 40px;
    margin: 0;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes change {
    0% {
        margin-top: 0;
    }
    15% {
        margin-top: 0;
    }
    25% {
        margin-top: -40px;
    }
    40% {
        margin-top: -40px;
    }
    50% {
        margin-top: -80px;
    }
    65% {
        margin-top: -80px;
    }
    75% {
        margin-top: -40px;
    }
    85% {
        margin-top: -40px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes change {
    0% {
        margin-top: 0;
    }
    15% {
        margin-top: 0;
    }
    25% {
        margin-top: -40px;
    }
    40% {
        margin-top: -40px;
    }
    50% {
        margin-top: -80px;
    }
    65% {
        margin-top: -80px;
    }
    75% {
        margin-top: -40px;
    }
    85% {
        margin-top: -40px;
    }
    100% {
        margin-top: 0;
    }
}


/* Animatin */

canvas {
    position: fixed;
    height: 100%;
    z-index: -100;
}