.navi-logo {
    height: 100%;
    width: auto;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}


/* Override default navigation bar to allow logo picture show without paddings*/

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
}


/*Override default navigation bar attributes*/

/*
.navbar-inverse {
    background-color: #1f2532;
    border-color: #1f2532;
    border-bottom: #1f2532 0px solid;
}
.navbar-inverse:hover {
    background-color: #1f2532;
    border-color: #1f2532;
    border-bottom: #1f2532 0px solid;
}
*/

/*======= color of navibar =====*/
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border-bottom: rgba(0, 0, 0, 0.5) 0px solid;
    /*    max-height: 50px;*/
}

.navbar-inverse:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border-bottom: rgba(0, 0, 0, 0.5) 0px solid;
    /*    max-height: 50px;*/
}

.mainPage {
    background-color: #172329;
    border-color: #172329;
    border-bottom: #172329 0px solid;
    /*    max-height: 50px;*/
}

.mainPage:hover {
    background-color: #172329;
    border-color: #172329;
    border-bottom: #172329 0px solid;
    /*    max-height: 50px;*/
}


/* Mobile Navi Icon Change background color*/
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}


/* Mobile Navi Icon background color when hover*/
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #4ABC96;
}

.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 0px solid transparent;
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
}


/* User drop down menu hover effect*/

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #ddd;
    /*    background-color: #fb3468;*/
    color: #1f2532;
    /*    border-color: #1f2532;*/
}

.dropdown-menu {
    width: 100px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav li:hover:nth-child(8n+1),
.nav li.active:nth-child(8n+1) {
    border-top: #4ABC96 3px solid;
    color: #4ABC96;
}

.nav li:hover:nth-child(8n+2),
.nav li.active:nth-child(8n+2) {
    border-top: #4ABC96 3px solid;
    color: #4ABC96;

}

.nav li:hover:nth-child(8n+3),
.nav li.active:nth-child(8n+3) {
    border-top: #4ABC96 3px solid;
    color: #4ABC96;
}

.nav li:hover:nth-child(8n+4),
.nav li.active:nth-child(8n+4) {
    border-top: #4ABC96 3px solid;
    color: #4ABC96;

}


/*
.nav li:hover:nth-child(8n+5),
.nav li.active:nth-child(8n+5) {
    border-bottom: #DB9DBE 3px solid;
}

.nav li:hover:nth-child(8n+6),
.nav li.active:nth-child(8n+6) {
    border-bottom: #C49CDE 3px solid;
}

.nav li:hover:nth-child(8n+7),
.nav li.active:nth-child(8n+7) {
    border-bottom: #669AE1 3px solid;
}

.nav li:hover:nth-child(8n+8),
.nav li.active:nth-child(8n+8) {
    border-bottom: #62C2E4 3px solid;
}
*/


/* Scroll to top */

.scroll-top {
    position: absolute;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #1cceaa;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.1s ease-in-out;
}

.scroll-top a:link,
.scroll-top a:visited {
    color: white;
    transition: all 0.1s ease-in-out;
}

.scroll-top a:hover {
    color: #222;
}


/* Button */

.button {
    z-index: 10000;
    position: fixed;
    background-color: #ccc;
    margin-top: 15px;
    margin-left: 15px;
    padding: 0px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.1s ease-in-out;
}

.button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.button:active {
    -webkit-box-shadow: inset 10px 10px 75px -32px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 10px 10px 75px -32px rgba(0, 0, 0, 0.46);
    box-shadow: inset 10px 10px 75px -32px rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 3em;
    color: #1f2532;
    color: whitesmoke;
    /*    line-height: 1em;*/
    margin-top: 10px;
    font-weight: 600;
}