/*======================================*/


/*==========  Project Container ========*/


/*======================================*/


/*
#project-container {
    background: #e9e9e9;
    font-family: 'Dorsa', sans-serif;
    z-index: 3;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    min-width: 800px;
    heigh: 100%;
    width: 100%;
}
*/

#project-container {
    background: #e9e9e9;
    font-family: 'Dorsa', sans-serif;
    z-index: 100;
    margin-top: -6em;
    margin-bottom: 0em;
    /*    margin-left: 5%;*/
    /*    margin-right: 5%;*/
    position: relative;
/*    min-width: 800px;*/
    heigh: 100%;
    width: 100%;
}

#pinBoot {
    z-index: 100;
    height: 100%;
    width: 90%;
    position: relative;
    margin-top: 10em;
    margin-left: 5%;
    margin-right: 5%;
}

.project {
    cursor: pointer;
    z-index: 100;
    display: inline-block;
    position: absolute;
    padding: 2rem;
    width: 100%;
    min-width: 200px;
    height: auto;
}

.img-responsive {
    border: 0px solid #ddd;
    width: 100%;
}


/* Override the default list item picture paddings*/

.list-group-item-picture {
    padding: 5px 15px;
}


/*Override button to have no border*/

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: transparent;
}


/* Override button hover effect to have no bordeer */

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e8e7e2;
    border-color: transparent;
}

.list-group-item-icon {
    float: right;
    padding-left: 15px;
    margin-top: -10px;
}


/* Override the detault bedge for the number of likes*/

.list-group-item>.badge {
    float: inherit;
    margin-left: -5px;
}


/* Override default setting to achieve no button outline */

.btn-padding {
    padding: 0px 3px; 
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.list-group-item {
    border: none;
    margin-bottom: 0px;
}

.fill-parent {
    width: 100%;
}

.user {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Override project top border radius*/

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


/* Override project bottom border radius*/

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


/* buttons */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


/* Override tags to disable border radius*/

.label {
    border-radius: 0px;
}

.label-info {
    background-color: #37424c;
}


/* Override media heading margins*/

.media-heading {
    margin-bottom: 0px;
}


/*======Utilities======*/

.move-text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.shadow-top {
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.19), 0 -6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-right {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-bottom {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.background-color1 {
    background: #f3f3f3;
}

.background-color2 {
    background: #eee;
}


/*

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
*/