/* Position the loading image when the page is loading */
#doc-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

/* Position the loading image when the page is loading */
#doc-loader td {
	vertical-align: middle;
	text-align: center;
	background-color: white;
}
